
extends layout 

block content
  h1= title

  div.button-container
    br
    a.btn.btn-primary(href='/catalog/categories') View Categories
    br
    a.btn.btn-secondary(href='/catalog/products') View Products